{% extends "base.html"%}

{% block titulo%} Inicio {% endblock%}

{%block contenido%} 
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-2">
            <h2>BIENVENIDOS A CIUDAD GRANJA</h2>
        </div>
    </div>
</div>

<div class="container shape-parent">
    <div class="shape ms-60">
        <svg class="mt-n160" data-rellax-speed="1" width="500" height="318" viewBox="0 0 500 318" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="250" cy="68" r="250" fill="#202020" />
        </svg>
    </div>
 
          
</div>
    
{%endblock%}